<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">

    <!--<parameter name="browser" value="chrome"/>-->
    <parameter name="browser" value="firefox"/>

    <test name="Nopackage">
        <classes>
            <class name="login.MyTest"/>
            <class name="login.ContactsTest"/>
        </classes>
    </test>

</suite>
